<div>
  <h1 class="font-bold text-2xl text-slate-700">Create your account</h1>

  <%= form_with(model: @account, url: registrations_path, class: "mt-8") do |f| %>
    <div class="mb-4">
      <%= f.text_field :name, placeholder: "Your name", class: input_class %>
    </div>
    <div class="mb-4">
      <%= f.text_field :name, placeholder: "Your name", class: input_class %>
    </div>
  <% end %>
</div>
